@import '../utils/Mixin.scss';

.BannerHeader {
   box-shadow: -5px 40px 15px 20px rgba(0, 0, 0, .25) ;
   color: #fff;
   left: 0;
   position: absolute;
   top: 110px;
   @include whateverBox(0 var(--radius) var(--radius) 0, unset, 100px);
}
.BannerHeader__weather,
.BannerHeader__degrees {
   @include flexModel(flex, center, center);
}
.BannerHeader__weather {
   background: var(--color-secundary);
   flex-direction: column;
   position: relative;
   z-index: 1000;
   @include whateverBox(0 var(--radius) var(--radius) calc(var(--radius) - 10px), 100px, unset);
   img {
      height: 25px;
      margin: 0 0 10px 0;
      width: 25px;
   }
   p {
      font-size: var(--font-size-smaller);
   }
}
.BannerHeader__degrees {
   margin: -50px 0 0 0;
   padding: 40px 0 0 0;
   box-sizing: border-box;
   background: var(--color-primary);
   @include whateverBox(0 var(--radius) var(--radius) 0, 130px, unset);
   p {
      font-size: var(--font-size-big);
      letter-spacing: -5px;
   }
   span {
      margin: -15px 0 0 0;
   }
}