@import '../utils/Mixin.scss';

.Header {
   width: 100%;
   margin: 0 0 50px 0;
   & > div > img {
      object-fit: cover;
      @include whateverBox(var(--radius), 300px, 100%)
   }
   & > div > span {
      left: 150px;
      position: absolute;
      top: 120px;
      @include flexModel(flex, unset, center);
      img {
         height: 20px;
         margin: 0 15px 0 0;
         width: 20px;
      }
      p {
         color: var(--color-primary);
         font-size: var(--font-size-mid);
         letter-spacing: 2px;
      }
   }
}